<div class="box"><p>
The confirmation email system has been temporarily deactivated due to issues with Gmail's security features. Because of this, the password recovery feature may also not work.</p>
<p>If you recieve an activation email please disregard it.
</p>
<p>
Your account is active and you may <%= link_to "log in.", login_path %> </p>
</div>
