<div class="box">
  <h2><%= @user.profile.username %>'s profile</h2>
<ul>
  <li>
  Account created <%= @user.created_at.strftime("%B %-d, %Y") %>
  </li>

  <li>
<%= @user.points %> <i class="fas fa-coins"></i>
</li>

</ul>
</div>
<% if logged_in? %>
<% if @user == @current_user %>
  <%= render "users/edit_profile" %>
  <% end %>
    <% end %>
