
   <div class="box" id="games">
     <uL>
     <li><%= link_to "Slot Machine", games_slots_path %></li>
    <li><%= link_to "Blackjack", games_blackjack_path %></li>
    <li>Tic Tac Toe
     </ul>
</div>
