
<% if logged_in? %>
<div class="box">
Hello <%= @current_user.profile.username %><br>
</div>
<% end %>
      <%= render "lobbychats/lobby" %>

<!-- original nightjar image by https://www.sharpphotography.co.uk -->
