<div class="box">
  <div class="checkerframe">
  <div class="checkerboard">
 <% @coords.each do |coords| %>
  <% if @odds.include?(coords[0]) %>
      <div id="<%= coords %>" class="odd_row">
        <% if @black_piece_starter_coordinates.include?(coords) %>
         <div class="ckpiece ckblack"></div>
         <% elsif @red_piece_starter_coordinates.include?(coords) %>
         <div class="ckpiece ckred"></div>
        <% end %>
      </div>
  <% else %>
        <div id="<%= coords %>" class="even_row">
          <% if @black_piece_starter_coordinates.include?(coords) %>
           <div class="ckpiece ckblack"></div>
           <% elsif @red_piece_starter_coordinates.include?(coords) %>
           <div class="ckpiece ckred"></div>
          <% end %>
        </div>
  <% end %>
<% end %>
</div>
</div>



under construction
<div class="ckpiece ckblack"></div>
<div class="ckpiece ckred"></div>
<div class="ckpiece ckblack"><i class="fas fa-crown"></i></div>
<div class="ckpiece ckred"><i class="fas fa-crown"></i></div>
</div>
