/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 */
html {
  background-color: #c0c5dc;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.content {
  margin: 5px;
  margin-top: 3em;
}

h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  color: black;
  font-weight: normal;
  margin: 2px auto;
  text-align: center;
}

.headertext {
  color: white;
  margin: 0;
  margin-top: -8px;
  font-size: 22px;
}

.notecount {
  color: #040e23;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  margin: 2px auto;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

input {
  border-radius: 3px;
  padding: 3px 5px;
  border: 1px solid gray;
  margin: 3px;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  top: 0;
  width: 100%;
  height: 40px;
  max-height: 40px;
  margin: 0 auto;
  position: fixed;
  overflow: hidden;
  border-bottom: 1px solid gray;
  color: white;
  background-color: #040e23;
  background-image: url('nightjar.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Roboto Condensed', sans-serif;
}

.points {
  font-weight: bold;
  color: #caa741;
  font-size: 18px;
}

#slotmachine {
  text-align: center;
  margin: 0 auto;
}

#slotmachine button {
  width: 400px;
  height: 100px;
  font-size: 50px;
  text-align: center;
}

.big {
  font-size: 30px;
}

#slotreel {
  width: 80%;
  background-color: gray;
  margin: 0 auto;
  padding: 1em 0;
}

#slotreel h3 {
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

#slotreel p {
  font-weight: normal;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.bar {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0 5px;
}

.yellow {
  color: yellow;
}

.gold {
  color: #caa741;
}

.purple {
  color: purple;
}

.red {
  color: red;
}

.green {
  color: green;
}

#lobby {
  position: absolute;
  right: 50px;
  bottom: 50px;
  height: 500px;
  width: 400px;
  max-width: 40%;
  background-color: white;
  color: black;
  border: 1px solid gray;
  overflow: hidden;
}

#lobbyheader {
  height: 20px;
  max-height: 20px;
  overflow: hidden;
}

#lobbylist {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 442px;
}

#lobbylist::-webkit-scrollbar {
  width: 10px;
}

#lobbylist::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#lobbylist::-webkit-scrollbar-thumb {
  background: #040e23;
}

#lobbylist::-webkit-scrollbar-thumb:hover {
  background: rgba(57, 87, 150, 0.35);
}

#lobbyheader {
  background-color: #040e23;
  color: white;
  padding: 5px;
}

#lobbyform {
  background-color: #040e23;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 28px;
  max-height: 28px;
  overflow: hidden;
}

#lobbyform input {
  width: 310px;
  border-radius: 3px;
  padding: 3px 5px;
  border: none;
}

#lobbyform button {
  background-color: #040e23;
  color: white;
  border: none;
  padding: 3px 5px;
}

.box {
  border: 1px solid gray;
  padding: 5px;
  width: 500px;
  background-color: white;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
}

.jscolor {
  width: 20px;
  height: 20px;
  color: transparent !important;
}

.chat {
  border-bottom: 1px solid gray;
  padding: 5px;
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.card {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  height: 150px;
  width: 100px;
}

.club, .spade {
  color: black;
}

.heart, .diamond {
  color: red;
}

.cardsuits ul {
  list-style: none;
  color: black;
}

.cardsuits ul li:nth-child(4n-3):before {
  content: '\2660 \0020';
  color: black;
}

.cardsuits ul li:nth-child(4n-2):before {
  content: '\2665 \0020';
  color: red;
}

.cardsuits ul li:nth-child(4n-1):before {
  content: '\2663 \0020';
  color: black;
}

.cardsuits ul li:nth-child(4n-0):before {
  content: '\2666 \0020';
  color: red;
}

.box a {
  color: black;
}

#tictactoe {
  text-align: center;
  width: 310px;
}

#tictactoegrid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 5px;
  width: 500px;
  margin: 0 auto;
}

.tic {
  background-color: white;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.tic button {
  border: none;
  background: transparent;
  width: 100px;
  height: 100px;
  font-size: 20px;
}

.tic button:hover {
  background-color: green;
}

.winschart {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: #e6d6d1;
  padding: 3px;
  width: 300px;
}
